.events {
	padding: 3rem 12vw;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;

	justify-items: center;

	.event {
		background-color: #fffdf5;
		position: relative;

		border-radius: 3px;
		box-shadow: 0 0 0.5rem rgba(51, 51, 51, 0.4);

		display: grid;
		grid-template-rows: repeat(auto-fit, minmax(4rem, 1fr));
		grid-template-columns: minmax(25rem, 1fr);
		row-gap: 1rem;

		.title {
			padding: 1rem;
			border-bottom: 1px solid #c2a857;
			font-size: 1.6rem;
			font-weight: 700;
		}

		.content {
			padding: 1.6rem;
			padding-top: 0.5rem;

			&__keys {
				font-weight: 700;
			}

			&__control-buttons {
				padding-top: 2rem;
				display: flex;
				text-align: center;
				justify-content: flex-start;
			}

			&__control-button {
				font-weight: 900;
				border-radius: 3px;
				margin-right: 1rem;
				padding: 0.5rem 1rem;
				width: 7vw;
				transition: all 0.5s;
				text-transform: uppercase;

				&--guest {
					background-color: #a18a46;
					color: #fff;

					&:hover {
						background-color: #575550;
					}
				}

				&--edit {
					background-color: #d4af37;

					&:hover {
						background-color: #333;
						color: #d4af37;
					}
				}

				&--delete {
					background-color: #d4af3773;
					color: #c90000;

					&:hover {
						background-color: #c90000;
						color: #fff;
					}
				}
				&--rsvp {
					margin-top: 1.5rem;
					padding: 0.8rem 2rem;
					width: 10vw;
					background-color: $color-primary;
					border: none;

					&:focus {
						outline: none;
					}

					&:hover {
						background-color: #575550;
						color: $color-primary;
					}
				}
				&--host {
					background-color: transparent;
				}
			}
			ul {
				list-style: none;

				li {
					padding-top: 1rem;
				}
			}

			&__hide-control-buttons {
				display: none;
			}

			&__hide-rsvp-btn {
				display: none;
			}
		}
	}
}
