@mixin account-button {
	.btn {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1rem 5rem;
		display: inline-block;
		border-radius: 2rem;
		transition: all 0.2s;
		font-weight: bold;
		transition: all 0.5s;
		margin-bottom: 1rem;
		border: none;
		font-size: 1.2rem;

		&:focus {
			outline: none;
		}
		&:hover {
			transform: translateY(-0.3rem);
			box-shadow: 1px 0 12px #d4af37;
			background-color: grey;
			color: #d4af37;
		}

		&:active {
			transform: translateY(-0.1rem);
			// box-shadow: 0 0 1px #d4af37;
			color: var(--color-grey);
		}

		&-white {
			background-color: #fff;
			color: #333;
		}
	}
}

@mixin focus {
  outline: none;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-bottom: 3px solid $color-primary;
}

@mixin placeholder-show {
	opacity: 0;
	visibility: hidden;
	transform: translateY(0);
	z-index: -1;
}

@mixin placeholder-not-show {
	visibility: visible;
	z-index: 1;
	opacity: 1;
}
