.u-center-text { text-align: center; }

.u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.header {font-size: 2rem; }
.redirect-link {color: #fff; font-weight: 700;}
.redirect { font-size: 1.2rem;}