.backgroundimg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../../images//events.jpeg');
  background-size: cover;
  height : 100vh;
  background-attachment: fixed;
  background-position: center;
  position : relative;
  z-index : 99;
  display: flex;
}
