.header {
	background-color: #575550;
	display: flex;
	justify-content: space-between;
	color: #c2a857;
	// position: fixed;
	width: 100%;

	&__nav {
		ul {
			list-style-type: none;
			display: flex;
			margin: 0;
			justify-content: space-between;
			align-items: center;

			.user {
				padding: 1.7rem 1rem;
			}

			.logout {
				display: flex;
				align-items: center;
			}

			li {
				cursor: pointer;
				text-align: center;
				display: flex;
				align-items: center;
				font-size: 1.2rem;

				&:not(:last-child) {
					border-right: 1px solid rgba(0, 0, 0, 0.2);
				}

				&:hover {
					background: #3d3a3a;
				}
			}
		}
	}

	&__link {
		color: #c2a857;
		padding: 1.7rem 1rem;

		&:hover {
			color: #c2a857;
		}

		&--active {
			background-color: #3d3a3a;
			color: #c2a857;
			padding: 1.5rem 1rem;

			&:hover {
				color: #c2a857;
			}
		}

		&--img {
			padding: 0 2rem;
		}

		&--login {
			display: flex;
			align-items: center;
		}
	}

	&__logo {
		height: 4.5rem;
		width: 9vw;
	}

	&__about {
		align-self: flex-end;
	}
}

.logo {
	&:hover {
		background-color: #3d3a3a;
	}
}