@import "../../App.scss";

.section-login {
	background-color: #333;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	min-height: 60%;
	width: 65%;
	background-image: linear-gradient(
			105deg,
			rgba(212, 175, 55, 0.89) 0%,
			rgba(194, 167, 87, 0.85) 55%,
			transparent 55%
		),
		url("../../images/event1.jpeg");
	background-size: cover;
	background-position: center;
	box-shadow: 3px 3px 1rem rgba(#000, 0.9);

	&__form-container {
		text-align: center;
		width: 50%;
		padding: 5rem 3rem;
	}

	&__header {
		font-size: 2rem;
	}

	.form {
		&-error {
			color: red;
		}
		&__heading {
			color: var(--color-grey-dark-2);
		}

		&__group:not(:last-child) {
			margin-bottom: 2rem;
		}

		&__input {
			font-size: 1.8rem;
			font-family: inherit;
			color: inherit;
			padding: 0.5rem 1rem;
			border: none;
			border-bottom: 3px solid transparent;
			border-radius: 3px;
			background-color: rgba($color-red-light, 0.8);
			display: block;
			width: 95%;

			&:focus {
				outline: none;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
				border-bottom: 3px solid $color-green;

				&:invalid {
					border-bottom: 3px solid $color-red-light;
				}
			}
			&::-webkit-input-placeholder {
				color: $color-grey-dark-2;
			}
		}

		&__label {
			font-size: 1.5rem;
			padding-left: 0.8rem;
			margin-top: 0.7rem;
			display: block;
			color: $color-grey-dark-2;
			transition: all 0.3s;
			text-align: left;
		}

		&__input:placeholder-shown + .form__label {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-3rem);
		}

		&__buttons {
			@include account-button;
		}
	}
}
