@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/variables";
@import './sass//grid';
@import './sass/typography';

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	// font-size: 62.5%;
	// font-size: 100%;
}

body {
	font-family: $font-primary;
	background-color: #eee;
}

.app-container {
	height: 100vh;
	display: flex;
	flex-direction: column;

	&__header {
		flex: 0 0 7%;
		// background-color: red;;
	}

	.pages {
		flex: 1;
	}
}
