@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/variables";

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; 
}

body {
	font-family: $font-primary;
  background-color: #eee;
}
