@import "../../App.scss";

.section-signup {
	background-color: #333;
	height: 91.2vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-top: 5rem;
}
// Gold (metallic) / #d4af37
.signup {
	min-height: 50%;
	width: 65%;
	background-image: linear-gradient(
			105deg,
			rgba(194, 167, 87, 0.8) 0%,
			rgba(212, 175, 55, 0.7) 60%,
			transparent 60%
			),
		url("../../images/event8.jpeg");
	background-size: cover;
	background-position: center;
	box-shadow: 0 1rem 1rem rgba(#000, 0.9);

	&__form-container {
		text-align: center;
		width: 50%;
		padding: 1.5rem 3rem;
	}

	.form {
		margin-left: auto;
		// margin-right: -30rem;

		&-error {
			color: red;
		}
		&__heading {
			color: #333;
			font-size: 4rem;
		}

		&__group:not(:last-child) {
			margin-bottom: 2rem;
		}

		&__input {
			font-size: 1.5rem;
			font-family: inherit;
			color: inherit;
			padding: 0.5rem 1rem;
			border: none;
			border-bottom: 3px solid transparent;
			border-radius: 3px;
			background-color: rgba($color-white, 0.8);
			display: block;
			width: 95%;

			&:focus {
				outline: none;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
				border-bottom: 3px solid $color-green;

				&:invalid {
					border-bottom: 3px solid $color-red-light;
				}
			}
			&::-webkit-input-placeholder {
				color: $color-grey-dark-2;
			}
		}

		&__label {
			text-transform: capitalize;
			font-weight: 600;
			font-size: 1.5rem;
			padding-left: 0.8rem;
			margin-top: 0.7rem;
			display: block;
			color: #333;
			transition: all 0.3s;
			text-align: left;
			transform: translateY(-5.5rem);
			font-size: 1.25rem;
		}

		// &__input:placeholder-shown + .form__label {
		// 	opacity: 0;
		// 	visibility: hidden;
		// 	transform: translateY(-3rem);
		// }

		&__buttons {
			@include account-button;
		}
	}
}

.form__input:placeholder-shown + .form__label {
	@include placeholder-show;
}

.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus:not(:placeholder-shown) + .form__label {
	@include placeholder-not-show;
}

// min-height: 60%;
// 	width: 65%;
// 	background-image: linear-gradient(
// 			105deg,
// 			rgba(212, 175, 55, 0.8) 0%,
// 			rgba(194, 167, 87, 0.8) 60%,
// 			transparent 60%
// 		),
// 		url("../../images/event1.jpeg");
